body{
  
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    width: 1080px;
}
#AA{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap: 25px;
    border: solid black 2px;
    margin-bottom: 10px;
}

#A2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1080px;
    gap: 25px;
    border: solid black 2px;

}
#search-container{
    margin-bottom: 10px;
    margin-right: 10px;
}

#search-input{
    padding: 10px;
    margin-right: 10px;
}

#search-button{
    padding: 10px;
}

#weather-container{
    text-align: center;
}